CompileFlags:
  CompilationDatabase: build/debug
  Add:
    - -I./../vcpkg_installed/x64-linux-dynamic/include
    - -I./include
    - -I./tests/test_utils

Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type
  UnusedIncludes: Strict
